body{
    background-image: url('../images/library-with-books.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

form {
    background-color: #fff;
    /* height: 60%; */
    width: 50vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #b4b1b1;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    transition: 0.5s;
    display: block;
}

button:hover {
    background-color: #45a049;
}

form div{
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

h3 {
  text-align: center;
}

@media screen and (max-width: 1000px){
    body{
        background-size: 150% 150%;
    }
}